<div class="container">
    <footer class="footer">
        <small>
            Copyright &copy; <a href="https://www.udemy.com">The complete learning solution.</a> by <a href="http://www.aersp.com"> Ankit Jariwala</a>
        </small>
        <nav>
            <ul>
                <li>
                    <%= link_to "About", about_path %>
                </li>
            </ul>
        </nav>
    </footer>
</div>